{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
{% endblock %}
{% block title %}{{ title }} {%endblock%}

{% block content %}
<div class="introduce">
    <div class="logo">
        <img src="imgs/jimu_logo.png" />
    </div>
    <p class="chapter">为什么选择积木盒子</p>
    <div class="feature-group">
        {% if features %}
            {% for feature in features %}
                <div class="feature feature_+{{ feature.index }}" >
                    <figure>
                        <img src="{{ feature.img }}" />
                        <figcaption>{{ feature.caption }}</figcaption>
                    </figure>
                    {% for des in feature.desc %}
                    <p>{{ des }}</p>
                    {% endfor%}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="history">
    <p class="chapter">发展历程</p>
    <input type="radio" name="pageN" class="input_1" checked="checked" /><span class="pageN"></span>
    <input type="radio" name="pageN" class="input_2"/><span class="pageN"></span>
    <input type="radio" name="pageN" class="input_3"/><span class="pageN"></span>
    <input type="radio" name="pageN" class="input_4"/><span class="pageN"></span>
    <ul class="history-cards">
        {% if cards %}
            {% for card in cards %}
        <li>
            <table>
                <p>{{ card.year }}</p>
                {% for e in card.events %}
                <tr><td>{{ e.time }}</td><td>{{ e.thing }}</td></tr>
                {% endfor %}
            </table>
        </li>
            {% endfor %}
        {% endif %}
</div>
<div class="story">
    <p class="chapter">积木盒子的故事</p>
    <p>基于我们的使命和定位，2015年12月，积木盒子推出了新的logo与域名jimu.com</p>
    <p>新的标志传达了积木全员希望为用户带来的服务体验</p>
    {% if advantages %}
        {% for advantage in advantages %}
    <div class="advantage">
        <figure>
            <img src="{{ advantage.img }}"/>
            <figcaption>{{ advantage.chapter}}</figcaption>
        </figure>
            {% for des in advantage.desc %}
                <p>{{ des }}</p>
            {% endfor %}       
    </div>
        {% endfor%}
    {% endif %}
{% endblock %}