<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="https://m.jimu.com/favicon.ico">
  <meta name="keywords" content="互联网金融,网络投融资平台,网络理财,互联网理财,积木盒子,科技金融,互联网金融,jimu.com,m.jimu.com,wap,touch">
  <meta name="description" content="线上网络借贷信息中介平台">
  <meta name="author" content="北京乐融多源信息技术有限公司">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="mobileOptimized" content="width">
  <meta name="handheldFriendly" content="true">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" conten   t="black">
  <meta name="flexible" content="initial-dpr=1">
  {% block head %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>