center()
    position absolute
    margin auto
    left 0
    right 0
    top 0
    bottom 0
border-radius()
    -webkit-border-radius  arguments
    -moz-border-radius  arguments
    -ms-border-radius  arguments
    -o-border-radius  arguments
    border-radius  arguments   
body
    font 16px Microsoft Yahei , Arial , sans-seri
    margin 0
    padding 0
    .container
        width w=250px
        height (w)
        border 1px solid #ccc
        center()
        .frog
            width 200px
            height 160px
            background-color facecolor=#a3d768
            border-radius 50%
            position absolute
            left 25px
            top 70px
            box-shadow 5px 5px 0px #d9f3c0
            .eyes 
                .left_eye,.right_eye
                    width 65px
                    height @width
                    border-radius 50%
                    border 7px solid facecolor
                    background-color  #fff
                    position absolute
                    top -30px
                    box-sizing border-box
                    &:after
                        content ""
                        position absolute
                        width 20px
                        height (@width)
                        top 20%
                        left 60%
                        border-radius 50%
                        background radial-gradient(6px at 77% 35%, #fff 4px,#3f6a34 4px)
                        animation eyesmove 4s linear infinite 
                .left_eye
                    left 25px                       
                .right_eye
                    left 110px
            .mouth
                width 30px
                height 5px
                border-radius 2.5px
                background-color #3f6a34
                margin 30px auto 0
@keyframes eyesmove
    0%  
        left 60%
        top 20%
    10% 
        left 45%
        top 20% 
    20%  
        left 60%
        top 20%
    24%  
        left 30%
        top 10%
    34%  
        left 30%
        top 0%
    44%  
        left 30%
        top 10%
    48%  
        left 0%
        top 25%
    58%  
        left 10%
        top 25%
    68%  
        left 0%
        top 25%
    72%  
        left 30%
        top 10%
    82%  
        left 30%
        top 0%
    100%  
        left 30%
        top 10%
