@charset 'UTF-8';
font-family =  "Microsoft Yahei" , "Arial" , "sans-seri"
chapter-size = 20px
html,body,p,ul,li,figure,figcaption,table,tr,td,thead
    margin 0
    padding 0
    font-family font-family
    font-size 16px
html,body
    width 100%
    height 100%
section(wm=678px)
    max-width wm
    min-width 320px
    text-align center
    margin 0 auto 
center_(colr=#3793df)
    &:after
        content ""
        display block
        width 1em
        height 3px
        background-color colr
        margin 5px auto
border-radius()
    -webkit-border-radius : arguments
    -moz-border-radius : arguments
    -ms-border-radius : arguments
    -o-border-radius : arguments
    border-radius : arguments
.chapter
    font-size chapter-size
    center_()
.introduce 
    width w=80%
    overflow hidden
    padding-bottom 5%
    section() 
    .logo
        padding (0.12*w) 0
        img
            width (0.21*w)
    .feature-group
        width 100%
        .feature
            width 50%
            float left
            &:after
                clear both
            figure
                img
                    width 60px
                    height 60px
                    padding (w/2)*0.5 0 (w/2)*0.4 0
                figcaption
                    font-size 17px
                    padding-bottom 5px
            p
                font-size 12px
                color #8b939f
.history
    width wh=80%
    section(750px)
    background-image url('../imgs/mountain-bg.png')
    background-repeat no-repeat
    height 100%
    overflow hidden
    position relative
    .chapter
        font-size chapter-size
        height 5%
        color #fff
        center_(#fff)
        padding (wh*0.1) 0 (wh*0.13) 0
    ul.history-cards
        list-style none
        position absolute
        width 356.5% 
        height 100%
        transition all .5s ease-in-out  
        top 25%
        left 0 
        li
            //两个li之间间隔为整个模块的3%，宽度为整个模块的85%，第一个li左边7.5%
            width 23.84%
            height 60%
            background-color #fff
            float left
            transform scale(.96)
            opacity 0.6
            border-radius(10px)
            &:first-of-type
                margin-left 2.1%
            p
                width 100%
                height 4rem
                line-height 4rem
                font-weight 100
                text-align center
                font-size 2rem
            table
                width 100%
                tr                   
                    td
                        text-align left
                        font-size 12px
                        height 30px
                        &:first-of-type
                            width : 5.4rem;
                            text-indent: 1rem;
                            text-align: center;
        li+li
            margin-left 0.84%
    input
        position absolute
        bottom 5%
        z-index 2
        width 15px
        height 15px
        margin-left -3px
        opacity 0
        cursor pointer
        &:checked + .pageN
            background-color rgba(255,255,255,.9)
    .pageN
        position absolute
        bottom 5%
        z-index 1
        width 10px
        height 10px
        border-radius(50%)
        background-color rgba(255,255,255,.5)
    .input_1,.input_1+.pageN
        left 45%
        &:checked ~ ul
            left 0
            li:nth-of-type(1)
                transform scale(1)
                opacity 1
    .input_2,.input_2+.pageN
        left 48%
        &:checked ~ ul
            left -88%
            li:nth-of-type(2)
                transform scale(1)
                opacity 1
    .input_3,.input_3+.pageN
        left 51%
        &:checked ~ ul
            left -176%
            li:nth-of-type(3)
                transform scale(1)
                opacity 1
    .input_4,.input_4+.pageN
        left 54%
        &:checked ~ ul
            left -264%
            li:nth-of-type(4)
                transform scale(1)
                opacity 1
.story
    width w=80%
    overflow hidden
    section() 
    .chapter
        margin 7% 0
        ~p
            font-size 12px
            line-height 3em
            text-align left
    .advantage        
        margin 5% 0 
        figure
            img
                width 80px
            figcaption
                font-size 1rem
                line-height 2rem
        p
            font-size 12px
            line-height 3em
            color #8b939f


            